{{!-- Previous & Next Buttons --}}
<div class="row">
    <div class="col d-flex justify-content-center">
        {{#if previousPage}}
        <button type="button" class="btn"><a href="/characters/{{previousPage}}" class="text-warning">Back</a></button>
        {{else}}
        <button type="button" class="btn disabled"><a href="/characters/{{previousPage}}"
                class="text-secondary">Back</a></button>
        {{/if}}
    </div>
    <div class="col d-flex justify-content-center">
        {{#if nextPage}}
        <button type="button" class="btn"><a href="{{nextPage}}" class="text-warning">Next</a></button>
        {{else}}
        <button type="button" class="btn disabled"><a href="{{nextPage}}"
                class="text-secondary">Next</a></button>
        {{/if}}
    </div>
</div>